# Here you put your private PyPI URL and the auth env vars get magically pulled from
#  the environment. (as they were set by the pre-run script)
--index-url=https://${PYPI_USR}:${PYPI_PWD}@devpi.robocorp.cloud/ci/dev
rpaframework-google==6.0.0

# Installing from private GitHub repo is also possible.
git+https://${GITHUB_TOKEN}@github.com/cmin764/python-fire.git  # @{tag}#egg={package}

# Installing from private local directory in editable way. (development mode)
-e /Users/cmin/Repos/python-fire
